// Write your custom css/scss here

ul.pagination {
    margin-bottom: 0 !important;
}

.btn-action {
    min-width: 160px;
    width: 100%;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #ff3366;
}

ng-select.is-invalid .ng-select-container {
    border-color: #ff3366;
}

table .table-detail tr td {
    padding: 10px 0px !important;
}

.btn-white {
    background-color: #fff;
    color: $custom-bg;
    
    &:hover {
        color: $custom-bg;
    }
}
