// Tables 

.table {

  >:not(:last-child)>:last-child>* {
		border-bottom-color: inherit;
	}

  thead {
    background-color: $custom-bg;
    th {
      border-top: 0;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: white;
      i {
        margin-left: 0.325rem;
      }
    }
  }

  th,
  td {
    white-space: nowrap;
  }
  
  td {
    img.circle {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
}
